<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/title') %>
    <%- include('../partials/form') %>
    <%- include('../partials/chat') %>
    <%- include('../partials/table')%>
    <%- include('../partials/script')%>

    
</body>
</html>